hr.linhasuperior {
    border: 3px solid rgb(114, 154, 160);
}

div.links{
    display: block;
    position: absolute;
    left: 63%;
}

div.topo {
    width: 900px;
    margin: auto;   
}

div.topo > img {
    margin: 10px 0px 10px 0px;
}