{% extends "base.html" %}

{% block titulo %}
    <title>Quem somos</title>
    <link rel="stylesheet" href="../static/estiloquem.css">
{% endblock %}

{% block conteudo %}
    <main>
        <h1>Quem Somos</h1>
        <p>Lorem<b>ipsum dolor</b>sit amet, consectetur adipisicing elit. Tempore placeat aliquam natus tempora voluptate impedit fuga, in perspiciatis labore mollitia. Officia ipsum quisquam iusto minima. Id veritatis deleniti inventore? Maxime. Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda aspernatur blanditiis voluptate, dignissimos similique autem nobis numquam omnis quo a eius tempora mollitia amet, perferendis quas temporibus aliquam quod aut! Lorem ipsum dolor sit amet consectetur adipisicing elit. Exercitationem at minus optio earum odio architecto hic. Sit nesciunt totam est voluptate repudiandae blanditiis debitis alias consectetur deleniti dolorem. Quos, autem.</p>

        <h1>5 Motivos para estudar</h1>
        <ol class="lista">
            <li>Material sempre atualizado</li>
            <li>Tablets em sala de aula</li>
            <li>Professores renomados</li>
            <li>Universidade bem avaliada</li>
            <li>Ótima localização</li>
        </ol>
        <hr class="linhacentral">
    
        <h1>Objetivos</h1>

        <p>Lorem <b>ipsum dolor</b> sit amet consectetur adipisicing elit. Veritatis temporibus consequatur fugit aliquam accusamus voluptas tempore vitae itaque, provident rem hic velit necessitatibus maiores quibusdam ratione ullam animi et similique! Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quaerat delectus qui reiciendis, quae animi provident accusantium eum expedita sapiente, minus labore nobis ut? Atque quo, quisquam aut id nostrum itaque. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde a laboriosam nulla optio et? Totam, nostrum facere? At quaerat libero dicta doloremque debitis, sed laboriosam aperiam aliquid asperiores delectus voluptatibus.</p>
{% endblock %}