{% extends "base.html" %}

{% block titulo %}
<title>Home</title>
<link rel="stylesheet" href="../static/estilohome.css">
{% endblock %}

{% block conteudo %}
    <!-- 2 -->
    <div class="corpo">
        <img src="../static/imagens/capa.png" alt="Tecnologia no seu aprendizado">
    </div>
    <!-- txt -->
    <main>
        <div class="texto">
            <h2>Sobre a universidade</h2>
            <p>Lorem <strong>ipsum dolor</strong> sit <i>amet</i>. Non culpa velit ut veniam natus qui nulla earum et iusto porro. Et adipisci quia ex rerum vero quo tempore neque qui dolore officiis in nobis nobis qui omnis esse. Et velit temporibus et consectetur quidem est accusamus suscipit aut odio voluptas eum autem veniam est reprehenderit quia vel rerum suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sapiente magnam voluptatum sed autem? Voluptate soluta excepturi necessitatibus sit vero et odio ad magnam rerum praesentium! Voluptatibus nesciunt dolor minima veritatis?</p>

            <p>Lorem <strong>ipsum dolor</strong> sit <i>amet</i>. Non culpa velit ut veniam natus qui nulla earum et iusto porro. Et adipisci quia ex rerum vero quo tempore neque qui dolore officiis in nobis nobis qui omnis esse. Et velit temporibus et consectetur quidem est accusamus suscipit aut odio voluptas eum autem veniam est reprehenderit quia vel rerum suscipit. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quidem, nostrum harum soluta, laboriosam blanditiis iusto reprehenderit eum earum accusantium dolore facilis quo perspiciatis nemo sequi quasi repudiandae fugit reiciendis. Illum.</p>
        </div>
    </main>
{% endblock %}
 